* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Gruppo", sans-serif;
}

/* Regole lista */

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
}

@media screen and (max-width:940px) {
    .navbar ul {
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    .navbar ul {
        width: 80%;
        gap: 20px;
    }
}

/* Regole NavLink */
.navlink {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.4s ease;
    padding: 10px;
}

.navlink:hover {
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%) right;
    background-size: 200% 100%;
    color: black;
}

.navlink.active {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

.navlink-go {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.navlink-go:hover {
    text-decoration: underline;
}

/* Regole Titolo */
.title-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.subtitle {
    margin-top: 50px;
    text-align: center;
}

/* Regole Card */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: black;
    color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
    transition: transform 0.4s ease;
}

/* Regole testi delle Card */
.card h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.price {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s ease;
}


.card:hover {
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%) right;
    background-size: 300% 100%;
    color: black;
    transform: translateY(-5px);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);

    .price {
        background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
        background-size: 200% 100%;
        color: white;
        transform: scale(1.2);
    }
}

.card:hover img {
    transform: scale(1.1);
}

/* Regole Bottone */
.btn-container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

button {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Gruppo", sans-serif;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    transition: 0.4s ease;
}

button:hover {
    transform: scale(1.05);
}


/* Regole container Card */
.detail-container {
    max-width: 1020px;
    margin: 40px auto;
    height: 80vh;
}

/* Regole Card */
.detail-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    gap: 40px;
}

.detail-card img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.detail-card img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.689);
}

/* regole testi Card */
.detail-info {
    flex: 1;
    min-width: 300px;
}

.detail-info .price {
    display: inline-block;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 0;
    margin-bottom: 15px;
}

.detail-info .price:hover {
    transform: scale(1.2);
}

.category {
    color: white;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.description {
    color: rgb(177, 176, 176);
    line-height: 1.6;
    margin-bottom: 15px;
}

.rating {
    color: white;
    margin-bottom: 15px;
}

/* Bottone "torna indietro" */
.back-btn {
    font-size: 1.2rem;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.back-btn:hover {
    transform: scale(1.1);
}

/* Regole NotFound */

.nf-cont {
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nf-cont p {
    font-size: 1.4rem;
}

.nf-cont h1 {
    margin: 0;
}

/* Regole caricamento */

.spinner-cont {
    max-width: 600px;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 20px;
    height: 20px;
    border-top-color: black;
    border-radius: 2px;
    animation: spin 1s linear infinite;
    box-shadow: 20px 20px 1px black, -20px -20px 1px black, 20px -20px black, -20px 20px black;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}